.expertise-row
{
  width: 90%;
  margin: 5%;
  margin-top: 1% !important;
  margin-bottom: 3%;
  display: flex;
  height: 8%;
}
.all-parts
{
  display: flex;
  width: 45%;
  margin: 0 0 0 5%;
  background-color:#696969;
  padding-left: 1.5%;
  border-radius: 12px;
  position: relative;
  padding-bottom: .5%;
  text-align: Left;
  padding-top:1%;
  border: solid 1px black;
  box-shadow: 5px 5px 5px 1px black;
}
.total
{
  background-color: black;
  width: 90%;
  height: 10px;
  position: absolute;
  bottom:7px;
}
.achieved
{
  background-color: white;
  z-index: -1;
  height:inherit;
  width:90%;
}
.subject
{
  margin-right:10%;
  width:340px;
}