/* https://paletton.com/#uid=1000u0k8X1S39dA2h4rf-1QlS1V General Coloring */


.App {
  text-align: center;
  display: flex;
  flex-direction:row;
  width:100%;
  color:white !important;
  
}
.App_mobile
{
  text-align: center;
  display: flex;
  flex-direction:row;
  width:100%;
  color:white !important;
  height: 100vh;
  overflow:hidden;
}
.mid
{
  width: inherit;
  background-color:#232121;
  padding-bottom: 2%;
  font-family: 'Courier New', Courier, monospace !important;
}
.midpart
{
  width: inherit;
  overflow: scroll;
  background-color:#232121;
  padding-bottom: 2%;
  font-family: 'Courier New', Courier, monospace !important;
}
.screen
{
  width: inherit;
  background-color:#232121;
  font-family: 'Courier New', Courier, monospace !important;
}
.pro_pic
{
  height:55vh;
  border-radius: 50%;
}
.pro_pic_mobile
{
  height:25vh;
  border-radius: 200px;
  min-height: 125px;
  margin: 12%;
}
.welcome_text
{
  font-size: 60px;
}
.expertise
{
  color: black;
}
.welcome-text-mobile
{
  background-color: black; 
  position: sticky;
  top: 0;
  
}
.route
{
  margin: 5%;
  background: dimgray;
  border: 1px solid black;
  padding: 1%;
}
.resume_holder
{
  margin-left: 14vw;
  width: 50vw;
  overflow: hidden;
}
.resume_holder_mobile
{
  width: 90vw;
  margin-left: 5%;
}
.logo-holder-mobile
{
  display: flex;
  flex-direction: row;
  margin-left: 15%;
}
.react-pdf__Page__canvas
{
  height: auto !important;
  width: inherit !important;
}
.react-pdf__Page
{
  width:inherit;
  overflow: hidden;
}