.box
{
  border: 1px solid black;
  background-color: dimgray;
  border-radius: 10px;
  width: inherit;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px 1px black;
}
.project_button a
{
  color: white !important;
  font-weight: normal !important;
}
.box p 
{
  margin-left: 10px;
  position: relative;
  font-weight: bold;
}
.box a
{
  margin-left: 10px;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}
.line
{
  display: flex;
  flex-direction: row;
}

.outer-holder
{
  display: flex;
  flex-direction: column;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-bottom: 2%;
  text-align: left;
}

.legend
{
  width: 45vw;
  background-color:dimgray;
  height: 45px;
  margin-left: 10vw;
  margin-bottom: 5%;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
  box-shadow: 5px 5px 5px 1px black;
}

.legend-circle
{
  width: 20px;
  height: 20px;
  border-radius:10px;
  margin-top: 5px;
}

.react
{
  background-color:green;
}
.react-native
{
  background-color:red;
}
.python
{
  background-color:maroon;
}
.html
{
  background-color:blue;
}
.singular-legend
{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}
.singular-legend p
{
  margin-top: 3px;
  margin-left: 1px;
}
.project-logo
{
  height: 70px;
  position: absolute;
  right: 1%;
  
}
.project-logo p
{
  font-family: 'Montserrat', sans-serif !important;
}
.card-header
{
  display: flex;
}
.project-legend
{
  margin-top: 2.2vh;
}