.box_mobile
{
  border: 1px solid black;
  background-color: dimgray;
  border-radius: 15px;
  width: inherit;
  margin-bottom: 15px;
  color: white !important;
  font-weight: normal !important;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 60px;
}

.line
{
  display: flex;
  flex-direction: row;
}
.box_mobile p
{ 
  margin-left: 5%;
  font-size: 15px;
}
.box_mobile a 
{
  margin-left: 0px;
  font-size: 12px;
}
.outer-holder
{
  display: flex;
  flex-direction: column;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-bottom: 2%;
  text-align: left;
  z-index: 0;
  position: relative;
}
.project-logo-mobile
{
  height: 60px;
  position: absolute;
  right: 0px;
}
.project-logo p
{
  font-family: 'Montserrat', sans-serif !important;
}
.card-header
{
  display: flex;
}
.welcome-text-mobile
{
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 70px;
  text-align: center;
}
.welcome-text-mobile_main
{
  background-color: black;
  height: 70px;
  padding-top:3%;
}
.toppart
{
  height:auto;
}
