.sidebar {
  text-align: center;
  position: sticky;
  left: 0;
  top: 0;
  background-color: black;
  height: 100vh;
  width: 15%;
  min-width: 200px;
}
.navitem {
  color: white !important;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  margin-top: 25%;
  background-color: 232121;
}
.light-navitem {
  color: black !important;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  margin-top: 25%;
}
.navitem-selected {
  text-decoration: underline !important;
}
.navbar-default .navbar-nav > li > a {
  text-decoration: underline !important;
}
.logo-background {
  /* background-color: white; */
  border-radius: 30px;
  height: 35px;
  width: 35px;
  margin-left: 5%;
  margin-right: 2%;
}
.logo-holder {
  padding-top: 100%;
  margin-top: 0.75em;
  width: 80%;
  margin: 1vh 1vw 1vh 1vw;
  display: flex;
}
.sidebar-mobile {
  text-align: center;
  position: sticky;
  left: 0;
  top: 0;
  background-color: black;
  height: 100vh;
}

.mobile {
  margin-top: 0;
  flex-direction: column;
}
