
.description_holder
{
    margin-top: 2%;
    font-family: 'Montserrat';
}
.name_logo_holder
{
    display: flex;
    flex-direction: row;
    text-align: center;
    background: gray; 
    margin-left: 5%;
    border-radius: 20px;
    margin-right: 5%;
    font-family: 'Montserrat';
}
.name_logo_holder p
{
    margin-top: 1%;
    margin-left: 1%;
    font-size: 60px;
}
.projectlogo
{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 5%;
    margin-top: .5%;
}

.explanation_holder
{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    font-family: 'Montserrat';
}

.video_holder
{
    margin-left: 28%;
}

.button_holder
{
    height: 200px;
}

.hymn_logo_desktop
{
    font-family: 'Montserrat';
    padding-top: 1%;
    width: min-content;
    margin-left: 5%
}
.back_button_holder
{
    margin-left: 50px;
    margin-top: 10px;

}
.short_description_holder
{
    margin: 3%;
    font-family: 'Montserrat';
}
Button
{
  background-color: black;
  border-color: black;
}
